body{
    background-color: #f0ead6;
}
.Navigation{
    display: block;
    position:fixed;
    z-index: 3;
    float: right;
    top:5%;
    right:5%;
    padding-right:2%;
    font-size:1.25rem;
    font-family:'Averia Serif Libre';
    background-color: beige;
    border-style: solid;
    border-color:#f0dd9f;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: "Libre Bodoni";
}

.Cottage{
    display: block;
    width: 250px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    border-color:#f0dd9f;
    border-style: solid;
    margin-top: 50px;
    padding: 5px;

}

.Coffee{
    display: inline-block;
    width:100px;
    height: auto;
    border-style: solid;
    border-radius: 50%;
    border-color: #f0dd9f;
}
aside{
    float: left;}
p{
    text-align: center;
    font-family:'Averia Serif Libre';

}
